page-about {

}

.text-to-change {
  padding: 3% 5%;
  text-align: left;
  color: #666;
  font-size: 14px;
}

.navbar-about .button-inner {
  color: #fff;
}

.navbar-about .toolbar-title-md {
    margin-right: 40px;
}