<ion-header>
  <ion-navbar>
    <ion-title>Categorías</ion-title>
		<ion-buttons class="button-add-categories" end>
			<button (click)="createCategory()" ion-button>
				<ion-icon name="add"></ion-icon>
			</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <article class="container">
    <section class="admin-categories-group">
      <div *ngIf="categoryList" class="categories-group-elements">
        <div class="categories-element" *ngFor="let category of categoryList">
          <div> 
            <div (click)="updateCategory(category)" class="categories-info">
              <h4>{{category.name}}</h4>
            </div>
          </div>
          <ion-icon class="icon-trash-categories" name="trash" ion-button (click)="deleteCategory(category)"></ion-icon>
        </div>
      </div>
    </section>
  </article>
</ion-content>
