<ion-header>
	<ion-navbar color="primary">
		<button ion-button menuToggle>
			<ion-icon name="menu" class="nav-buttons-light"></ion-icon>
		</button>
		<ion-title> <img src="../../assets/logo/logo-home.svg" alt="logo_home" /> </ion-title>
		<ion-buttons class="nav-button-search" end>
			<button ion-button>
				<ion-icon name="search" class="nav-buttons-light"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content>
	<ion-refresher (ionRefresh)="doRefresh($event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>
	<article [ngClass]="{'cooker-visible': !isStoreOpened}">
		<div *ngIf="isStoreOpened">
			<section class="home-dishes-group" *ngFor="let category of objectKeys(menuProvider.menuList)">
				<h3 class="home-dish-title" ion-text color="secondary">{{category | uppercase}}</h3>
				<div class="home-dishes-group-elements">
					<div class="home-dish-element" *ngFor="let dish of menuProvider.menuList[category].dishes; let j = index;" (click)="navigateToDishPage(category, j)" [ngClass]="{'home-dish-selected': order.orderDish[dish.dish._id]}" ngDefaultControl>
						<div>
							<img src="{{cloudFrontURL}}dish/{{dish.dish._id}}.png" alt="{{dish.dish.title}}" />
							<div>
								<h4 ion-text color="secondary">{{dish.dish.title}}</h4>
								<p>{{dish.dish.description}}</p>
							</div>
							<p ion-text color="secondary">{{dish.dish.price | number:'1.2'}}€</p>
						</div>
					</div>
				</div>
			</section>
		</div>
	</article>
</ion-content>
<button class="home-button-order" ion-button full *ngIf="resume" (click)="navigateToOrderDetail()">
	<div class="home-order">
		<div>
			<div>{{resume.quantity}}</div>
		</div>
		<p>Ver Carrito</p>
		<div>
			<p>{{resume.price | number:'1.2'}}€</p>
		</div>
	</div>
</button>
<menu-nav></menu-nav>