<ion-header>
  <ion-navbar>
    <ion-title>Intolerancias</ion-title>
    <ion-buttons class="button-add-intolerances" end>
      <button (click)="pushNewIntolerancePage()" ion-button>
				<ion-icon name="add"></ion-icon>
			</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <article class="container">
    <section class="admin-intolerances-group">
      <div *ngIf="intoleranceList" class="intolerances-group-elements">
        <div class="intolerances-element" *ngFor="let intolerance of intoleranceList; let i = index;">
          <div (click)="pushIntolerancePage(intolerance)">
            <img src="{{cloudFrontURL}}intolerances/{{intolerance._id}}.png" alt="{{intolerance.name}}" />
            <div class="intolerances-info">
              <h4>{{intolerance.name}}</h4>
            </div>
          </div>
          <ion-icon class="icon-trash-intolerances" name="trash" ion-button (click)="deleteIntolerance(i)"></ion-icon>
        </div>
      </div>
    </section>
  </article>
</ion-content>
