<ion-header>
    <ion-navbar>
        <ion-title>Lista de Platos</ion-title>
        <ion-buttons class="button-add-dishes" end>
            <button (click)="pushNewCreateDishPage()" ion-button>
				<ion-icon name="add"></ion-icon>
			</button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="dishes-page">
    <article class="container">
        <ion-list class="admin-dishes-group" *ngIf="dishList">
            <div class="dishes-group-elements" *ngFor="let dish of dishList; let i = index">
                <div class="dishes-element" (click)="goToDishDetail(dish._id)">
                    <div>
                        <img item-start src="{{cloudFrontURL}}dish/{{dish._id}}.png?{{currentDateTime}}" alt="{{dish.title}}" />
                        <div class="dishes-info">
                            <h4>{{dish.title}}</h4>
                            <p>Categoría: {{dish.category.name}}</p>
                            <p>Precio: {{dish.price | number:'1.2'}} €</p>
                        </div>
                    </div>
                </div>
                <ion-icon class="icon-trash-dishes" name="trash" *ngIf="isEnabled(dish._id)" (click)="deleteDish(i)" ion-button></ion-icon>
                <ion-icon class="icon-trash-dishes-disabled" name="trash" *ngIf="!isEnabled(dish._id)" ion-button></ion-icon>
            </div>
        </ion-list>
        <ion-infinite-scroll *ngIf="dishList" (ionInfinite)="doInfinite($event)">
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </article>
</ion-content>
