<ion-header>
    <ion-navbar class="navbar-create-intolerance">
        <ion-title>Crear intolerancia</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <div *ngIf="intolerance">
        <input type="file" accept="image/png" #file style="display:none;" (change)="imageUpload($event)" />
        <img *ngIf="imageUrl" src="{{imageUrl}}" alt="dish_pic" (click)="file.click()" onError="this.src='./assets/img/undefinedImg.png'"/>
        <div class="text-create-intolerance">
            <ion-item>
                <ion-label stacked color="dark">Título</ion-label>
                <ion-input type="title" [(ngModel)]="intolerance.name"></ion-input>
            </ion-item>
        </div>
    </div>
    <div class="buton-intolerance">
        <button class="button-save-intolerance" (click)="createIntolerance()" ion-button>Guardar</button>
    </div>
</ion-content>
